.searchtable {
  width: 100%;
  height: 100%;
  float: right;
}

  .Profileimage {
    text-align: center;
  }

  .Profileimage p {
    vertical-align: bottom;
    font-weight: bold;
    margin-top:10px;
  }

  .Profileimage img {
    text-align: center;
    border-radius: 50%;
    vertical-align: central;
  }

  .filters {
    float: left;
  }

.empty {
  text-align: center;
  float: right;
  margin-top: 5%;
}

fa-icon {
  font-size: 50px;
  color: #AEAEAE;
}

.empty p {
  font-family: 'Kulim Park', sans-serif;
}
